.download-item {
  padding-top: 60px;
  padding-bottom: 100px;
  min-height: calc(100vh - 143px);
}
.rw-download-item {
  align-items: center;
  margin-bottom: 38px;
}
.download-item-img {
  width: 100%;
  border: 1px solid #dddddd;
}
.wrapper-title-section {
  border-left: 2px solid #0086ff;
  padding-left: 28px;
  margin-bottom: 38px;
}
.category-item {
  color: #0086ff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-bottom: 12px;
}
.category-name {
  color: #000000;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 48px;
  margin-bottom: 0;
}
.wrapp-category-body {
  padding-left: 28px;
}
.category-description {
  color: #666666;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 72px;
  max-width: 470px;
}
.btn-download-item {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 20px;
  border-radius: 0;
  width: 100%;
  height: 64px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.tag-category {
  color: #666666;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-top: 38px;
  margin-bottom: 0;
}
.back-btn {
  color: #0086ff;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.back-btn:hover {
  text-decoration: none;
}
footer {
  height: 77px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .copy-right {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 0;
}
.modal-ct-donate {
  background-color: transparent;
  border-radius: 0;
  border: none;
}
.header-modal-donate {
  background-color: transparent;
}
.modal-body-donate {
  background-color: #f9f9f9;
  position: relative;
  padding: 110px 100px;
}
.modal-title-donate {
  color: #000000;
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 1.34px;
  line-height: 72px;
  margin-bottom: 50px;
}
.wrapper-donate-modal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-donate {
  border: 2px solid #004a8e;
  border-radius: 0;
  padding: 10px 20px;
  color: #001f3b;
}
.modal-donate:hover {
  background-color: #004a8e;
  color: #ffffff;
}
.txt-modal-friends {
  color: #666666;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-bottom: 0;
}
.txt-modal-friends a {
  text-decoration: underline;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
}
.ic-modal {
  position: absolute;
  right: 0;
  width: 34%;
  top: 47px;
}
.modal-donate-us .modal-header .close {
  padding: 0 0;
  margin: -1rem auto -1rem -1rem;
}
.modal-donate-us .close:focus {
  outline: none;
}
.modal-donate-us .close {
  position: absolute;
  top: -60px;
  left: 0;
  float: left;
  font-size: 3.5rem;
  font-weight: 300;
  color: #fff;
  opacity: 1 !important;
}
.modal-donate-us .close:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.wrapper-license-body {
  padding-left: 28px;
}
