/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  /* <<<<------COMING SOON----->>>>>> */
  .coming-soon {
    height: auto;
    min-height: 100vh;
    padding-top: 4vh;
    padding-bottom: 8vh;
  }
  .head-title {
    margin-bottom: 5vh;
  }
  .wrapper-body {
    padding-left: 24px;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
  .wrapper-body .title-body {
    font-size: 52px;
    line-height: 58px;
    margin-bottom: 34vh;
  }
  .wrapper-body .title-email {
    margin-bottom: 4vh;
  }
  .group-input-email {
    box-shadow: 0 20px 50px 0 rgba(68, 68, 68, 0.26);
    margin-bottom: 12vh;
  }
  .group-input-email input {
    height: 72px;
    padding-left: 22px;
  }
  .group-input-email .input-group-append button {
    padding: 0 12px;
    font-size: 14px;
  }
  .image-banner {
    position: absolute;
    right: 0;
    top: 30vh;
    z-index: -10;
    width: auto;
    height: 34vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* <<<<------COMING SOON----->>>>>> */
  .coming-soon {
    height: auto;
    min-height: calc(100vh - 77px);
    padding-top: 4vh;
    padding-bottom: 14vh;
  }
  .head-title {
    margin-bottom: 6vh;
  }
  .wrapper-body {
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
  .wrapper-body .title-body {
    font-size: 72px;
    max-width: 324px;
    margin-bottom: 22vh;
  }

  .wrapper-body .title-email {
    margin-bottom: 4vh;
  }
  .group-input-email {
    box-shadow: 0 20px 50px 0 rgba(68, 68, 68, 0.26);
    margin-bottom: 18vh;
    max-width: 540px;
  }
  .group-input-email input {
    height: 78px;
    padding-left: 22px;
  }
  .group-input-email .input-group-append button {
    padding: 0 16px;
    font-size: 14px;
  }
  .image-banner {
    position: absolute;
    right: 0;
    top: 17vh;
    z-index: -10;
    width: 60%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper-navbar {
    max-width: 1200px;
  }
  .container {
    max-width: 1200px;
  }
}
